<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WS2812b.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WS2812b.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <WS2812b.Properties.Settings>
            <setting name="Anzahl_LED" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Arduino_PIN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Com_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Seg00von" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg00bis" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg01von" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg02von" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg03von" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg04von" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg05von" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg06von" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg07von" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg08von" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg09von" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg01bis" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg02bis" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg03bis" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg04bis" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg05bis" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg06bis" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg07bis" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg08bis" serializeAs="String">
                <value/>
            </setting>
            <setting name="Seg09bis" serializeAs="String">
                <value/>
            </setting>
        </WS2812b.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WS2812b.Properties.Settings>
            <setting name="Modus_00" serializeAs="String">
                <value>Static - No blinking. Just plain old static light.</value>
            </setting>
            <setting name="Modus_01" serializeAs="String">
                <value>Blink - Normal blinking. 50% on/off time.</value>
            </setting>
            <setting name="Modus_02" serializeAs="String">
                <value>Breath - Does the "standby-breathing" of well known i-Devices. Fixed Speed.</value>
            </setting>
            <setting name="Modus_03" serializeAs="String">
                <value>Color Wipe - Lights all LEDs after each other up. Then turns them in that order off. Repeat.</value>
            </setting>
            <setting name="Modus_04" serializeAs="String">
                <value>Color Wipe Inverse - Same as Color Wipe, except swaps on/off colors.</value>
            </setting>
            <setting name="Modus_05" serializeAs="String">
                <value>Color Wipe Reverse - Lights all LEDs after each other up. Then turns them in reverse order off. Repeat.</value>
            </setting>
            <setting name="Modus_06" serializeAs="String">
                <value>Color Wipe Reverse Inverse - Same as Color Wipe Reverse, except swaps on/off colors.</value>
            </setting>
            <setting name="Modus_07" serializeAs="String">
                <value>Color Wipe Random - Turns all LEDs after each other to a random color. Then starts over with another color.</value>
            </setting>
            <setting name="Modus_08" serializeAs="String">
                <value>Random Color - Lights all LEDs in one random color up. Then switches them to the next random color.</value>
            </setting>
            <setting name="Modus_09" serializeAs="String">
                <value>Single Dynamic - Lights every LED in a random color. Changes one random LED after the other to a random color.</value>
            </setting>
            <setting name="Modus_10" serializeAs="String">
                <value>Multi Dynamic - Lights every LED in a random color. Changes all LED at the same time to new random colors.</value>
            </setting>
            <setting name="Modus_11" serializeAs="String">
                <value>Rainbow - Cycles all LEDs at once through a rainbow.</value>
            </setting>
        </WS2812b.Properties.Settings>
    </applicationSettings>
</configuration>
